<img src="/images/logoback.png" id="logoback">

<div class="yada">
<h1>Spongeworthy!</h1>
</div>


<div id="content">
<% idx = 0 %>
<% @quotes.each do |quote| %>
  <% if quote.episode_id > idx %>
    <br>
    <h2><%=quote.episode.title%></h2><br>
    <% idx += 1 %>
  <% end %>
  <p><%=quote.rating%> - <a href="/quotes/<%=quote.id%>">"<%=quote.content%>"</a> - <%=quote.character.name%></p>
<%end%>
</div>